body {
    background: url("/assets/gallery.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
}

.bg-light {
    background: #fff!important;
}

.space {
    margin: 40px auto;
    padding: 20px;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #000!important;
}

.brand {
    color: #000!important;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.blue {
    color: #109FDD;
}

.intro p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding: 2% 20%;
}

.gal-img {
    margin: 30px 0px;
}

img {
    width: 100%;
    height: 100%;
    border: 7px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}

h5 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0px 10px;
    padding: 0px 10px;
}