* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
}

.intro {
    background: url("/assets/intro_bg.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.blue {
    color: #109FDD;
}

.intro p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF
}

.know {
    width: 102px;
    height: 33px;
    background: #109FDD;
    border-radius: 7px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.who-are-we {
    background: url("/assets/waw-bg.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.who-are-we h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.who-are-we p {
    text-align: justify;
    font-size: 12px;
}

p span.blue {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: justify;
}

.who-are-we .btn {
    width: 165px;
    height: 33px;
    background: #109FDD;
    border-radius: 7px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.space {
    padding: 70px 50px;
}

.waw1 {
    position: absolute;
    left: 120px;
    top: 18px;
    width: 250px;
    height: 200px;
}

.waw2 {
    position: absolute;
    left: 390px;
    top: 47px;
    width: 150px;
    height: 170px;
}

.waw3 {
    position: absolute;
    top: 190px;
    left: 150px;
    width: 350px;
    height: 170px;
}

.waw1-bg {
    position: absolute;
    left: 85px;
    top: -10px;
    width: 250px;
    height: 200px;
    background: rgba(140, 185, 226, 0.42);
}

.waw3-bg {
    position: absolute;
    left: 230px;
    top: 250px;
    width: 300px;
    height: 140px;
    background: rgba(140, 185, 226, 0.42);
}

.top-space {
    margin-top: 65px;
}

.our-services {
    background: url("/assets/our-services-bg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.our-services p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;
}

.card {
    width: 227px;
    height: 300px;
    background: #FEFEFE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px!important;
    padding-top: 20px;
}

.card-img-top {
    width: 97px;
    height: 99px;
    margin: 0 auto;
}

.card-text {
    color: #000000!important;
}

.web-dev {
    position: absolute;
    top: 290px;
    left: 60px;
}

.app-dev {
    position: absolute;
    top: 200px;
    left: 320px;
}

.bus-sol {
    position: absolute;
    top: 130px;
    left: 580px;
}

.our-services-content {
    margin-top: 135px;
    padding-left: 45px;
}