body {
    background: url("/assets/bg.png");
    background-size: 100vw 100vh;
    padding-top: 91px;
}

.container {
    margin: 0;
}

.intro {
    background: url("/assets/intro_bg.png");
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.blue {
    color: #109FDD;
}

.intro p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF
}

.know {
    width: 102px;
    height: 33px;
    background: #109FDD;
    border-radius: 7px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.who-are-we {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.who-are-we h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.who-are-we p {
    text-align: justify;
    font-size: 12px;
}

p span.blue {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: justify;
}

.who-are-we .btn {
    width: 165px;
    height: 33px;
    background: #109FDD;
    border-radius: 7px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.space {
    padding: 70px 50px;
}

.waw1 {
    position: absolute;
    left: 120px;
    top: 18px;
    width: 250px;
    height: 200px;
}

.waw2 {
    position: absolute;
    left: 390px;
    top: 47px;
    width: 150px;
    height: 170px;
}

.waw3 {
    position: absolute;
    top: 190px;
    left: 150px;
    width: 350px;
    height: 170px;
}

.waw1-bg {
    position: absolute;
    left: 85px;
    top: -10px;
    width: 250px;
    height: 200px;
    background: rgba(140, 185, 226, 0.42);
}

.waw3-bg {
    position: absolute;
    left: 230px;
    top: 250px;
    width: 300px;
    height: 140px;
    background: rgba(140, 185, 226, 0.42);
}

.top-space {
    margin-top: 65px;
}

.our-services {
    background: url("/assets/our-services-bg.png");
    background-size: cover;
    width: 100vw;
    height: 120vh;
    padding-top: 80px;
}

.our-services p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #FFFFFF;
}

.card {
    width: 227px;
    height: 300px;
    background: #FEFEFE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px!important;
    padding-top: 20px;
}

.card-img-top {
    width: 97px;
    height: 99px;
    margin: 0 auto;
}

.card-text {
    color: #000000!important;
}

.web-dev {
    position: absolute;
    top: 250px;
    left: 60px;
}

.app-dev {
    position: absolute;
    top: 200px;
    left: 320px;
}

.bus-sol {
    position: absolute;
    top: 130px;
    left: 580px;
}

.our-services-content {
    margin-top: 135px;
    padding-left: 45px;
}

.our-mentors {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 80px;
    background-repeat: repeat-y;
}

.our-mentors h1 {
    color: #000;
}

.our-mentors p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}

.our-mentors .card {
    width: 227px;
    height: 275px;
    background: #F7F9FA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 90px;
}

.our-mentors .card-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0A587A;
}

.our-projects {
    background: url("/assets/our-projects-bg.png");
    background-size: cover;
    width: 100vw;
    height: 140vh;
    padding: 170px 100px 100px;
}

.our-projects .card-group {
    padding-bottom: 200px!important;
}

.our-projects p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.our-projects .card {
    width: 227px;
    height: 300px;
    background: #F7F9FA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 30px 90px;
}

.our-project .card-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.srmpedia {
    width: 160px;
    height: 170px;
}

.grapido {
    width: 160px;
    height: 150px;
    margin-top: 20px;
}

.swiftcare {
    width: 182px;
    height: 182px;
}

.join-our-community {
    background: url("/assets/bg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 100px 0px 100px 100px;
    position: relative;
}

.overlay {
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    top: -40px;
    right: 0;
    padding: 50px 0px 50px 50px;
    height: 80vh;
    width: 85vw;
}

.join-grapido img {
    position: absolute;
    width: 350px;
    height: 400px;
    top: -70px;
    right: 0;
}

.content {
    position: absolute;
    top: 20px;
}

.content-1 {
    position: absolute;
    left: 105px;
}

.content-1 h4,
.content h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #000000;
}

.content-1 p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.72);
}

.content-1 .btn {
    width: 165px;
    height: 33px;
    background: #109FDD;
    border-radius: 7px;
}

.google-play {
    position: relative;
    width: 165px;
}

.google-play img {
    position: absolute;
    top: -14px;
    left: -40px;
    width: 200px;
}

@media (min-width:1000px) {
    .owl-carousel {
        display: none!important;
    }
}

@media (max-width:600px) {
    .space {
        padding: 45px 45px;
    }
    .top-space {
        margin-top: 180px;
    }
    .card {
        width: 225px;
    }
    .our-mentors .card {
        margin: 35px;
    }
    .our-mentors {
        padding: 100px 0px;
    }
    .our-projects .card {
        margin: 30px 0px;
    }
    .hide-on-tab {
        display: none;
    }
    .owl-carousel {
        padding: 0px 80px 0px;
    }
}

@media(max-width:1050px) {
    .hide-on-tab {
        display: none;
    }
    .owl-carousel {
        padding: 0px 115px 0px;
    }
    .card-img-top {
        width: 70px!important;
        height: 60px;
    }
    .our-mentors {
        height: 35vh;
    }
    .our-projects {
        height: 80vh;
        padding: 285px 80px 100px;
    }
    .our-mentors .card {
        height: 250px;
        margin: 0px 14px;
    }
    .our-mentors .card-title,
    .our-projects .card-title {
        font-size: 13px;
    }
}