body {
    background: url("/assets/studentchapters.webp");
    background-size: contain;
    padding-top: 120px;
}

.card {
    display: inline-block;
    width: 200px;
    height: 212px;
    background: #F7F9FA;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 20px;
    padding: 20px 0px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0A587A;
}

.card-img-top {
    width: 80px;
    height: 80px;
    margin: 0 30%;
    border: none;
    border-radius: 50%;
}

.pos {
    position: absolute;
    float: right;
    display: flex;
    top: 25%;
    left: 25%;
    z-index: 1000;
}

.right {
    position: absolute;
    display: flex;
    top: 25%;
    right: 25%;
    z-index: 1000;
}

.right-drc {
    position: absolute;
    display: flex;
    top: 25%;
    right: 0%;
    z-index: 1000;
}

.right-drc .card {
    display: inline-block;
    width: 196px;
    height: 212px;
    background: #F7F9FA;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 3px;
    padding: 20px 0px;
}

.content {
    width: 650px;
    height: 425px;
    background: rgba(117, 186, 216, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 50px;
    margin: 30px 0;
}

.content-big {
    width: 650px;
    height: 665px;
    background: rgba(117, 186, 216, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 50px;
    margin: 30px 0;
}

.content-big-lsr {
    width: 650px;
    height: 580px;
    background: rgba(117, 186, 216, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 50px;
    margin: 30px 0;
}

.social a img {
    display: inline;
    width: 30px;
    height: 30px;
    border: none;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #000000;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.content p,
.content-big p,
.content-big-lsr p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.2em;
    text-align: justify;
    color: rgba(0, 0, 0, 0.72);
}

.single {
    left: 68%;
    position: absolute;
    float: right;
    display: flex;
    top: 25%;
    z-index: 1000;
}

@media(min-width:1000px) {
    .hide-on-lg {
        display: none;
    }
}

@media(max-width:1195px) {
    .pos {
        left: 10%;
    }
    .right-drc {
        right: -17%;
    }
    .single {
        left: 62%;
    }
    .right {
        right: 12%;
    }
    .content-big,
    .content-big-lsr,
    .content {
        height: 30%;
        width: 80%;
        margin: 10px auto 80px;
    }
}

@media (max-width: 991.98px) {
    .hide-on-mob {
        display: none;
    }
    .content-big,
    .content-big-lsr,
    .content {
        height: 30%;
        width: 80%;
        margin: 50px auto 0px;
    }
    .leads {
        margin-bottom: 80px;
    }
}

@media (max-width: 575.98px) {
    .card {
        width: 165px;
        margin: 20px 10px;
    }
    .card-title {
        font-size: 1em;
        line-height: 1.2em;
    }
    h3 {
        font-size: 25px;
        line-height: 30px;
    }
    h5 {
        margin: 0px 6px;
    }
    .content p,
    .content-big p,
    .content-big-lsr p {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8em;
        line-height: 1.2em;
        text-align: justify;
        color: rgba(0, 0, 0, 0.72);
    }
    .content-big,
    .content-big-lsr,
    .content {
        height: 30%;
        width: 80%;
        margin: 30px auto 0px;
        padding: 10%;
    }
    .leads {
        margin-bottom: 80px;
    }
}